<div>
  <div id="v3-banner">
    <span class="hidden-sm">Эта документация для версий v2.x и ранее.</span>
    <a href="https://v3.ru.vuejs.org/">Перейти</a> к русской документации для v3.x.
  </div>

  <header id="header">
    <a id="logo" href="<%- url_for("/") %>">
      <img src="<%- url_for("/images/logo.png") %>" alt="Логотип Vue">
      <span>Vue.js</span>
    </a>
    <ul id="nav">
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
  </header>
</div>
