<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Поддержать Vue</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">Магазин</a></li>
      <li><a href="https://opencollective.com/vuejs" target="_blank" class="nav-link">Поддержать нас на OpenCollective</a></li>
      <li><a href="https://www.patreon.com/evanyou" target="_blank" class="nav-link">Поддержать Evan на Patreon</a></li>
    </ul></li>
  </ul>
</li>
